html {
  height: 100%;
  min-height: 100% !important;
  overflow: auto;
  overflow-y: hidden
}

body {
  height: 100%;
  min-height: 100% !important;
  overflow: auto;
  overflow-y: hidden
}

#root {
  height: 100%;
  min-height: 100% !important;
  overflow: auto;
  overflow-y: hidden
}
