.EfferalGangRadioPlayerChat {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  align-items: stretch;
  align-content: stretch;
}

.EfferalGangRadio {
  order: 1;
  flex-grow: 4;
}

.iframe-chat {
  order: 2;
  width: 25%;
}

